

.maintext {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333333;
}

a:visited {
  color: #809A14;
  text-decoration: none;
}

a:link {
  color: #809A14;
  text-decoration: none;
}

a:hover {
  color: #809A14;
  text-decoration: underline;
}

.outer {
  width: 100%
}

.inner {
  position: relative;

  padding: 20px 10px;
  margin: 0 auto
}

code {
  font-size: 9px
}


.maintext {
  width: 100%;
  align: center;
  margin: auto;
  cellpadding: 4;
  cellspacing: 2;
  background-color: #F2F2F2
}

.tableheader {
  height: 21px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  border-top: 1px #FFFFFF solid;
  border-bottom: 1px #CCCCCC solid;
}

.menu {
   height: 21px;
   background-color: #F9F9F9;
}

.footer {
  height: 21px;
  background-color: #F9F9F9;
  border-bottom: 1px #CCCCCC solid;
  border-top: 1px #FFFFFF solid;
  text-align: center;
}

.mainContent {
   height: 21px;
   background-color: #FFFFFF;
}

.DLTable table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.DLTable th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff
}

.DLTable td {
  padding: 10px;
  border: 1px solid #373737
}

.DLTable tr:nth-child(even) {
  background-color: #f2f2f2
}
.DLTable tr:hover {background-color: #FFFF99;}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 2s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}
